<div class="blog-post-author d-flex">
    <div class="author-thumbnail">
        <img src="img/bg-img/32.jpg" alt="">
    </div>
    <div class="author-info">
        <a href="#" class="author-name">James Smith, <span>The Author</span></a>
        <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
    </div>
</div>