<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produkter</title>
</head>
<body>
    <h1>Produkterne</h1>

    <% if(typeof products != 'undefined') {%>
    <% products.forEach(product => {%>
    <div>
        <h3>Produkt Navn:<br><br><%= product.product_title %></h3>
        <p>Beskrivelse: <br><br><%= product.product_description %></p>
        <span>Pris: <br><br><%= product.product_price %> kr.</span>
    </div>
    <% }); %>
    <% } %>
</body>
</html>